START
PUSHN 1
PUSHS "Introduza um numero:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 0
SUP
JZ IFELSE1
PUSHS "Positivo"
WRITES
WRITELN
JUMP IFEND2
IFELSE1:
PUSHS "Zero ou negativo"
WRITES
WRITELN
IFEND2:
JUMP L100
PUSHS "Esta linha nao deve correr"
WRITES
WRITELN
L100:
NOP
PUSHS "Fim"
WRITES
WRITELN
STOP
