START
PUSHN 10
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
DO_CHECK_1:
PUSHG 1
PUSHI 9
INFEQ
JZ DO_EXIT_2
PUSHG 0
STOREG 3
PUSHG 1
STOREG 4
PUSHI 0
STOREG 8
PUSHI 1
STOREG 7
PUSHG 3
STOREG 5
FN_CONVRT_4_L20_5:
PUSHG 5
PUSHI 0
SUP
JZ IF_ELSE_6
PUSHG 5
PUSHG 4
MOD
STOREG 6
PUSHG 8
PUSHG 6
PUSHG 7
MUL
ADD
STOREG 8
PUSHG 5
PUSHG 4
DIV
STOREG 5
PUSHG 7
PUSHI 10
MUL
STOREG 7
JUMP FN_CONVRT_4_L20_5
JUMP IF_END_7
IF_ELSE_6:
IF_END_7:
PUSHG 8
STOREG 9
JUMP FN_RET_CONVRT_3
FN_RET_CONVRT_3:
PUSHG 9
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
L10:
NOP
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP DO_CHECK_1
DO_EXIT_2:
STOP
