START
PUSHN 1
PUSHS "Introduza um numero:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 0
SUP
JZ IF_ELSE_1
PUSHS "Positivo"
WRITES
WRITELN
JUMP IF_END_2
IF_ELSE_1:
PUSHS "Zero ou negativo"
WRITES
WRITELN
IF_END_2:
JUMP L100
PUSHS "Esta linha nao deve correr"
WRITES
WRITELN
L100:
NOP
PUSHS "Fim"
WRITES
WRITELN
STOP
