START
PUSHN 4
PUSHF 1.5
STOREG 0
PUSHI 2
ITOF
STOREG 1
PUSHG 0
PUSHG 1
FADD
STOREG 2
PUSHG 2
PUSHF 3.0
FSUP
STOREG 3
PUSHG 3
JZ IF_ELSE_1
PUSHS "Z="
WRITES
PUSHG 2
WRITEF
WRITELN
JUMP IF_END_2
IF_ELSE_1:
IF_END_2:
STOP
