START
PUSHN 3
PUSHS "Introduza A:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHS "Introduza B:"
WRITES
WRITELN
READ
ATOI
STOREG 1
PUSHG 0
PUSHG 1
ADD
STOREG 2
PUSHS "Soma="
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
