START
PUSHN 7
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 5
DO_CHECK_1:
PUSHG 5
PUSHI 5
INFEQ
JZ DO_EXIT_2
PUSHGP
PUSHG 5
CHECK 1, 5
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 6
PUSHGP
PUSHG 5
CHECK 1, 5
PUSHI 1
SUB
LOADN
ADD
STOREG 6
L30:
NOP
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP DO_CHECK_1
DO_EXIT_2:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
WRITELN
STOP
